@media all and (max-width: 440px)
{
	/* ecran inferieur a 440px */

	input[id="creative"]:checked ~ #fleche
	{
		left: -50px;
		top: -35px;
	}

	input[id="corporate"]:checked ~ #fleche
	{
		left: 50px;
		top: -35px;
	}

	input[id="portfolio"]:checked ~ #fleche
	{
		left: 135px;
		top: -35px;
	}

	#fleche
	{
		left: -135px;
		top: -35px;
	}
}